.header {
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    padding: 0 24px;
}

.header__nav {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
}

button{
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
}

.header__group {
    display: flex;
    align-items: center;
}

.header__group--logo {
    gap: 28px;
}

.header__logo-div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header__logo-img {
    height: 60px;
}

.header__logo-icon {
    cursor: pointer;
}

.header__title {
    font-size: 28px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #707070;
    @media (width < 1000px) {
        display: none;
    }
}

.container__header__subtitle {
    @media screen and (width < 1280px) {
        display: none;
    }
}

.header__subtitle {
    font-family: 'Poppins';
    font-size: 20px;
    color: #555555;
}

.header__group--buttons {
    position: relative;
    gap: 20px;
}

.header__nav-button {
    font-family: 'Roboto';
    font-weight: 700;
    cursor: pointer;
    color: #1D1D1D;
    font-size: 18px;
    padding: 10px 15px;
    transition: color 0.2s ease, background-color 0.2s ease;
    text-decoration: none;
}

.header__nav-button:hover {
    color: #0055aa;
    background-color: rgba(0, 51, 102, 0.1);
}

.header__nav-button--gestion,
.header__nav-button--reinfo{
    width: fit-content;
}

.header__divider-line {
    width: 2px;
    height: 30px;
    background-color: #cccccc;

}

.header__user-info {
    cursor: pointer;
    user-select: none;
    height: 100%;
    box-sizing: border-box;
    background-color: #C1524D;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0px 16px;
}

.header__user-avatar {
    width: 44px;
    height: 44px;
}

.header__user-name {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
}

.header__user-role {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 12px;
    color: #ffffff;
}


.header-listons {
    width: 100%;
    height: 20px;
    background-image: url('/assets/img/Header-Listons.png');
    background-size: cover;
    display: block;
    margin-bottom: -15px;
    position: relative;
    z-index: 1;
}

/* RESPONSIVE */

.header__nav {
    @media (max-width: 992px) {
        height: auto;
        padding: 16px 0;
        gap: 20px;
    }
}

.header__divider-line {
    @media (max-width: 870px) {
        height: 1px;
        width: 80%;
        margin: 10px 0;
    }
}

.header__user-info {
    @media (max-width: 992px) {
        margin-top: 10px;
        padding: 6px 12px;
        gap: 8px;
    }
}

.header__group--buttons {
    @media (max-width: 870px) {
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (width < 870px){

    .header__logo-div{
        width: 100%;
        justify-content: space-between;
    }

    .header__nav{
        position: relative;
    }

    .header__group--buttons{
        transform: translateY(10px);
        padding-bottom: 12px;
        /* box-sizing: border-box; */
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        background-color: rgba(193, 82, 77, 1);
        z-index: 10000;
        top: 0;
        right: 0;
        position: absolute;
    }

    .header__titles{
        display: none;
    }

    .header__nav-button{
        color: #ffffff;
        font-size: 16px;
    }

    .header__nav-button:hover{
        background-color: #ffffff30;
        color: white;
    }

    .header__title{
        font-size: 20px;
    }
}