<div class="body">
  <main class="login">
    <header class="login__header">
      <button class="button-option">Option</button>
      <button class="button-option">Option</button>
      <button class="button-option">Option</button>
    </header>
    <section class="login__body">
      <h1 class="login__body__title">Bienvenido</h1>
      <div class="login__body__line"></div>
      <div class="login__body__input">
        <input type="text" class="input">
        <input type="text" class="input">
      </div>
      <button class="button-enter">
        <div src="" alt="" class="icon-send"></div>
        <h3>Entrar al Sistema</h3>
      </button>
    </section>
    <footer class="login__footer"></footer>
  </main>
</div>