/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('/assets/fonts/Nunito/Nunito-ExtraLight.ttf'),
    url('/assets/fonts/Nunito/Nunito-Light.ttf'),
    url('/assets/fonts/Nunito/Nunito-Regular.ttf'),
    url('/assets/fonts/Nunito/Nunito-Medium.ttf'),
    url('/assets/fonts/Nunito/Nunito-SemiBold.ttf'),
    url('/assets/fonts/Nunito/Nunito-Bold.ttf'),
    url('/assets/fonts/Nunito/Nunito-ExtraBold.ttf'),
    url('/assets/fonts/Nunito/Nunito-Black.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Thin.ttf'),
    url('/assets/fonts/Poppins/Poppins-ExtraLight.ttf'),
    url('/assets/fonts/Poppins/Poppins-Light.ttf'),
    url('/assets/fonts/Poppins/Poppins-Regular.ttf'),
    url('/assets/fonts/Poppins/Poppins-Medium.ttf'),
    url('/assets/fonts/Poppins/Poppins-SemiBold.ttf'),
    url('/assets/fonts/Poppins/Poppins-Bold.ttf'),
    url('/assets/fonts/Poppins/Poppins-ExtraBold.ttf'),
    url('/assets/fonts/Poppins/Poppins-Black.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/fonts/Roboto/Roboto-Thin.ttf'),
    url('/assets/fonts/Roboto/Roboto-ExtraLight.ttf'),
    url('/assets/fonts/Roboto/Roboto-Light.ttf'),
    url('/assets/fonts/Roboto/Roboto-Regular.ttf'),
    url('/assets/fonts/Roboto/Roboto-Medium.ttf'),
    url('/assets/fonts/Roboto/Roboto-SemiBold.ttf'),
    url('/assets/fonts/Roboto/Roboto-Bold.ttf'),
    url('/assets/fonts/Roboto/Roboto-ExtraBold.ttf'),
    url('/assets/fonts/Roboto/Roboto-Black.ttf'),
    ;
}

body{
    min-height: 100vh;
}